body {
  font-family: 'Lato', sans-serif;
}

a {
  color: #333333;
  transition: all 0.5s;

  &:hover {
    color: #85D538;
    text-decoration: none;
  }

  &:active,
  &:focus {
    text-decoration: none;
    color: #333333;
  }
}

.btn {
  transition: all 0.5s;
  padding: 5px 20px;
  color: #fff;
  font-size: 1.6rem;


  &:hover {
    transition: all 0.5s;
    color: #fff;
  }

  &:focus {
    color: #fff;
  }

  &-light-green {
    background-color: #85D538;

    &:hover {
      background-color: #F89406;
    }
  }

  &-orange {
    background-color: #F89406;

    &:hover {
      background-color: #85D538;
    }
  }
}

.line {
  height: 3px;
  width: 60px;
  margin: 30px 0 50px 0;
  background-color: #000000;

  &-center {
    margin-left: auto;
    margin-right: auto;
  }

  &-orange {
    background-color: #F89406;
  }
}

.header-section {
  text-align: center;
  margin-top: 40px;
}