.navbar-border {
  margin-bottom: 0;
}

.bg-img {
  img {
    width: 100%;
  }
}

.panel-offer {
  background-color: #F5F5F5;
  padding: 100px;

  .search-box {
    background-color: #fff;
    border-radius: 5px;
    padding: 40px 35px;

    &-text {
      text-transform: uppercase;
      font-size: 1.8rem;
      font-weight: 700;
      margin-bottom: 20px;
    }

    .form-group {
      margin-bottom: 9px;
    }

    .line-orange {
      height: 1px;
      width: 190px;
      margin-bottom: 30px;
    }

    .btn-orange {
      margin-top: 20px;
    }
  }
  .sort {
    margin-bottom: 20px;
  }

  .datepicker table tr td.active.active, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled.disabled, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover.active, .datepicker table tr td.active.disabled:hover.disabled, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active.disabled:hover[disabled], .datepicker table tr td.active.disabled[disabled], .datepicker table tr td.active:active, .datepicker table tr td.active:hover, .datepicker table tr td.active:hover.active, .datepicker table tr td.active:hover.disabled, .datepicker table tr td.active:hover:active, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active:hover[disabled], .datepicker table tr td.active[disabled] {
    background-color: red;
  }
}

