.offer {
  background-color: #F5F5F5;
  padding: 100px;

  img {
    width: 100%;
    margin-right: 10px;
    border-radius: 5px;
  }

  a {
    position: relative;
    display: block;

    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      background-color: transparent;
      transition: all 0.5s;
    }

    &:hover .overlay {
      background-color: rgba(0, 0, 0, 0.6);
      transition: all 0.5s;
    }
  }

  &-box {
    background-color: #fff;
    margin-bottom: 30px;

    &-desc {
      padding: 20px 30px 17px;
    }

    .name-trip {
      font-size: 1.8rem;
      font-weight: 900;
    }

    .price-trip {
      float: right;
      font-size: 2.4rem;
      line-height: 1;
    }

    .term-trip {
      color: #AAAAAA;
      font-weight: 700;
      margin-top: 8px;

      .days {
        float: right;
      }
    }
  }
}